/* body {
  background-color: #f3f3f3 !important;
}

.bg-tab {
  background-color: #f3f3f3 !important;
  border-bottom-color: #f3f3f3 !important;
} */

.dark-blue-text {
  color: #2c59a2 !important;
}

.dark-blue-bg {
  background-color: #2c59a2 !important;
}
